header{
    background-color:#1a4789 ;
    text-align: center;
    font-size: x-large;
    color: aliceblue;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}
nav{
    font-size: x-large;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0%;
    right: 0%;
}
nav a{
    border-bottom: 3px solid black;
    background-color: #907e5f;
    color: black;
    padding: .75rem;
}
div{
    justify-content: flex-start;
    padding: 3rem;
}
main{
    position: relative;
}
.flag{
    background-image: url(images/flag.png);
    background-size: contain;
    color: aliceblue;
    max-width: 200%;
    padding: 2rem 10rem 2rem 7rem;
    background-repeat: no-repeat;
    background-position: center;
}
.flag2{
    background-image: url(images/flag2.png);
    background-size: contain;
    color: aliceblue;
    background-repeat: no-repeat;
    padding: 2rem 10rem 2rem 7rem;
    background-position: center;
}
.last{
    display: block;
    margin: auto;
    padding: 3rem;
    
}
.flag2 div{
    display: inline-block;
    width: 49%;
    padding: 0;
    vertical-align: text-top;
}
.bubble{
    background-image: url(images/flag2\ \(1\).png);
    color: white;
    background-repeat: no-repeat;
    background-position: center left 59%;
    padding: 1rem;
    background-size: contain;
}
.bubble div{
    padding: 0;
    width: 45%;
    margin: auto;
}
.frame{
    background-image: url(images/flag2\ \(2\).png);
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    padding: 4rem;
    background-size: contain;
}
.frame p{
    width: 45%;
    margin: auto;
    font-size: x-large;
    text-align: center;
}
.lastpic{
    display: block;
    margin: auto;
    padding: 3rem;
    size: 50%;
    background-image: url(images/flag2\ \(3\).png);
    background-position: 100px 5px;
}
.donate a{
    background-color:#fdd7ff;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    color: black;
    padding: 1.5rem;
    display: inline-block;
}
.donate{
    margin: 0rem auto;
    text-align: center;
}
.ways{
    background-image: url(images/donate.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem 4rem 6rem;
    background-size: contain;
    width: 45%;
    margin: auto;
    color: white;
}
.ways strong{
    font-weight: bolder;
    font-size: large;
}
.dog{
    float: right;
}
.volunteers a{
    background-color:#fdd7ff;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    color: black;
    padding: 1.5rem;
    display: inline-block;
}
.volunteers{
    margin: 0rem auto;
    text-align: center;
}
.helpers{
    background-image: url(images/volunteers.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem 4rem 6rem;
    background-size: contain;
    width: 45%;
    margin: auto;
    color: white;
}
.helpers strong{
    font-weight: bolder;
    font-size: large;
    text-align: center;
}
.dogg{
   display: block;
   margin: auto;
}
.dogblogg{
    text-align: center;
    padding-right: 2rem;
}
.anotherflag{
    background-image: url(images/blog.png);
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3rem;
    background-size: contain;
}
.blue{
    font-weight: bold;
    color: #1a4789;
    padding-bottom: 0;
}
.blue p{
    position: relative;
}
.blue p:after, .blue p:before{
    content: url(images/L.png);
    position: absolute;
    width: 4rem;
    height: 4rem;
    transform: scale(.06);
}
.blue p:after{
    bottom:-2rem ;
    right: -2rem;
    transform: scale(.05) rotate(180deg);
}
.blue p:before{
    top: -2.5rem;
    left: -2.5rem;
}
.phone,.email,.address{
    background-image: url(images/bone.png);
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem;
    background-size: contain;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
}
.address{
    line-height: 1.2rem;
}
.phone strong{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}
.email strong{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}
.address strong{
    font-size: large;
    font-weight: bold;
    text-align: center;
}
.contact{
    float: right;
}
@media (min-width:700px){
    .flag{
        max-width: 250%;
        padding: 2rem 22rem 2rem 22rem;
    }
    .flag2{
        padding: 2rem 22rem 2rem 22rem;
    }
    .doog{
        display: inline-block;
    }
    .bubble{
        background-position: center left 55%;
        padding: 8rem;

    }
    .lastpic{
        right: .5rem;
        position:absolute;
        bottom: 2rem;
        width: 10%;
    }
    .frame{
        padding: 7rem;
    }
    nav a{
        border-bottom: 5px solid black;
        background-color: #907e5f;
        color: black;
        padding: 1.5rem;
    }
    .donate{
        margin: 2rem auto;
        text-align: center;
    }
    .donate a{
        padding: 2rem;
        display: inline-block;
        width: 60%;
    }
    main{
        position: relative;
    }
    .ways{
        padding: 6rem 12rem 14rem;
    }
    .ways strong{
        font-weight: bolder;
        font-size: large;
        font-size: xx-large;
    }
    .dog{
        right: .5rem;
        position:absolute;
        bottom: 2rem;
        width: 10%;
    }
    .volunteers{
        margin: 2rem auto;
        text-align: center;
    }
    .volunteers a{
        padding: 2rem;
        display: inline-block;
        width: 60%;
    }
    .helpers{
        padding: 6rem 12rem 14rem;
        font-size: large;
        float: left;
    }
    .helpers strong{
        font-weight: bolder;
        font-size: large;
        font-size: xx-large;
    }
    .dogg{
        right: .5rem;
        position:absolute;
        top: 315%;
        width: 25%;
    }
    .dogblogg{
        text-align: center;
        padding-right: 2rem;
        display: inline-block;
        width: 35%;
        height: 35%;
        display: flex;
}
.dogblogg img{
    width: 70%;
}
.blue{
    font-weight: bold;
    color: #1a4789;
    padding-bottom: 4rem;
    padding-right: 27%;
}
.blue p{
    position: relative;
}
.anotherflag{
    padding: 5rem 6rem;
}
}